<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReOil"
        tools:targetApi="31">
        <activity
            android:name=".view.settings.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.register.VerificationActivity"
            android:exported="false" />
        <activity
            android:name=".view.register.FormProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.settings.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.result.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".view.detail.DetailNewsActivity"
            android:exported="false" />
        <activity
            android:name=".view.news.NewsActivity"
            android:exported="false" />
        <activity
            android:name=".view.scan.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".view.notification.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Onboarding.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".view.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".view.map.MapActivity"
            android:exported="false" />
        <activity
            android:name=".view.settings.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".store.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".store.ExchangeActivity"
            android:exported="false" />
        <activity
            android:name=".view.register.RegisterPartnerFormActivity"
            android:exported="false" />
        <activity
            android:name=".main.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- MainActivity -->
        <activity android:name=".main.MainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCKIMdYlQ92eHI8tm9ryCdQ9zHAdLb5gSU" />
    </application>

</manifest>